{% extends 'base.html.twig' %}

{% block title %}Albert et Basile{% endblock %}

{% block body %}
<div class="container">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam tenetur sed blanditiis quo ducimus excepturi. Ad possimus distinctio tempora consequuntur hic commodi accusantium, aliquam asperiores provident quos cum similique obcaecati?</div>
{% endblock %}
